packages

# User files
*.suo
*.user # Let's save this, since it has debug settings for the project.
*.sln.docstates
*.*~
.vs/

upgradelog*.htm
test/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# VSCode
.vscode*
.vscode/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
*.ncrunchsolution
*.ncrunchproject
_NCrunch_WebCompiler

# VS Code
.vscode/
.vscodeignore
UpgradeLog*.htm
test/

*.user
